.cardItem {

    // height: 490px;

    .card-title {
        font-size: 20px;
        color: #535353;
        font-weight: bold;
    }

    .card-text {
        line-height: 22px;
        color: #444;
    }

    @media screen and (min-width: 992px) {
        height: 450px;
    }
}