@import '../variables';

.faq {
    background-color: $color-faq-background;
    div.accordion-item {
        background-color: unset;
    
        // .accordion-header {
        //     background-color: $color-faq-header;
        // }
    
        .accordion-button {
            color: #fff;
            background-color: $color-faq-header;
        }
    }

    &-clickable {
        cursor: pointer;
    }

    &-title {
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2;

        @media screen and (min-width: 992px) {
            font-size: 3.5rem;
        }
    }
}


